html,
body {
  font-family: 'Noto Sans TC' !important;
  font-size: 24px;
  color: #42536c;
  font-weight: 500;
  letter-spacing: 5.888px;
}
html:not(div):active,
body:not(div):active,
html:not(div):focus,
body:not(div):focus {
  outline: 0;
  box-shadow: none !important;
}
body {
  background-color: #f9fbfc;
}
.flex-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
@media (min-width: 992px) {
  .container {
    max-width: 850px !important;
  }
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
.block-padding {
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (max-width: 767px) {
  .block-padding {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.block-title {
  font-size: 1.34rem;
  color: #55d6d2 !important;
  font-weight: 900;
  margin-bottom: 10px;
}
/* ----------------- */
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 117px;
  top: 0;
  background: transparent;
  transition: all 0.4s;
}
header.scrolling {
  background-color: rgba(51,49,51,0.7);
  height: 64px;
}
header.scrolling .nav-item {
  margin-top: 8px !important;
}
header ul.desktop .nav-item {
  padding-right: 28px;
  padding-left: 28px;
  margin-top: 17px;
}
header ul.desktop .nav-item:nth-child(3) {
  min-width: 151px;
}
header ul.desktop .nav-item:not(:nth-child(3)) .nav-link {
  padding-top: 25px;
  padding-bottom: 5px;
  background: linear-gradient(to bottom, transparent 62%, #55d6d2 0) center 100%/0% 20% no-repeat;
}
header ul.desktop .nav-item:not(:nth-child(3)) .nav-link:hover {
  background-size: 100% 20%;
}
header ul.desktop .nav-link {
  font-family: 'Raleway' !important;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2.76px;
  padding: 0;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  transition: background-size 0.4s ease;
}
header ul.desktop .logo {
  display: block;
}
header ul.mobile .logo {
  width: 60%;
}
header ul.mobile .logo img {
  max-height: 60px;
}
header ul.mobile .dropdown-toggle::after {
  display: none;
}
@media (max-width: 767px) {
  header {
    background-color: rgba(51,49,51,0.85);
    height: auto;
  }
}
#menu-trigger {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#menu-trigger span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #55d6d2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#menu-trigger span:nth-child(1) {
  top: 0px;
}
#menu-trigger span:nth-child(2),
#menu-trigger span:nth-child(3) {
  top: 16px;
}
#menu-trigger span:nth-child(4) {
  top: 32px;
}
#menu-trigger.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}
#menu-trigger.open span:nth-child(2) {
  transform: rotate(45deg);
}
#menu-trigger.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#menu-trigger.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}
#mobile-menu {
  width: 160px;
}
#mobile-menu a {
  color: #55d6d2;
  letter-spacing: 4.86px;
  padding: 15px;
  font-size: 0.8rem;
}
#mobile-menu a:nth-child(n+2) {
  border-top: 1px solid #d8d8d8;
}
#mobile-menu a:active {
  background-color: #fff;
}
#particles-overlay {
  position: absolute;
  height: 46vw;
  min-height: 450px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#main-slider {
  height: 46vw;
  min-height: 450px;
  width: 100%;
  padding-bottom: 50px;
}
#main-slider .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper-slide.s1 {
  background-image: url("../img/c1.png");
}
.swiper-slide.s2 {
  background-image: url("../img/c2.jpg");
}
.swiper-slide.s3 {
  background-image: url("../img/svg/c3.svg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .swiper-slide.s1 {
    background-image: url("../img/c1@2x.png");
  }
  .swiper-slide.s2 {
    background-image: url("../img/c2@2x.jpg");
  }
}
.swiper-slide * {
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
}
.s1-nb img {
  max-width: 50vw;
  max-height: 50%;
}
.s1-text * {
  color: #000;
}
.s2-text * {
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  font-size: 2rem;
}
.s3-brain img {
  width: 35vw;
}
[class*="swiper-button"] {
  width: 55px;
  height: 97px;
  background-size: 55px 97px !important;
  transform: translateY(-50%);
  z-index: 200;
}
.swiper-button-prev {
  background-image: url("../img/svg/slider-prev.svg") !important;
  left: 40px;
}
.swiper-button-next {
  background-image: url("../img/svg/slider-next.svg") !important;
  right: 40px;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullets {
  z-index: 200;
}
.swiper-pagination-bullet {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border: 4px solid #55d6d2;
  opacity: 1;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.swiper-pagination-bullet-active {
  background-color: #55d6d2;
}
@media (max-width: 767px) {
  .s1-nb img,
  .s3-brain img {
    width: 70vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .s1-text * {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .s1-nb img,
  .s3-brain img {
    width: 80vw;
    margin-top: 0;
    margin-bottom: -10vw;
  }
  .s1-text * {
    font-size: 0.8rem;
  }
  [class*="swiper-button"] {
    width: 5vw;
    height: 9vw;
    background-size: 5vw 9vw !important;
  }
  .swiper-button-prev {
    left: 5vw;
  }
  .swiper-button-next {
    right: 5vw;
  }
}
/*** Vision  ***/
.content-text {
  letter-spacing: 4.416px;
}
#animation-trigger {
  min-height: 1px;
  margin-bottom: 100px;
}
#animation-wrapper {
  top: 0 !important;
}
#animation-wrapper .row {
  height: 100vh;
}
.animation-wrapper {
  margin-top: 72px;
}
#parallax-text,
.parallax-text {
  letter-spacing: 4.8576px;
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
}
#parallax-text img,
.parallax-text img {
  width: 5vw;
}
#scroll-animation,
.scroll-animation {
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  #animation-wrapper .row,
  .animation-wrapper .row {
    flex-direction: column-reverse;
    height: 90vh;
    margin-top: 4vh;
  }
  #parallax-text,
  #scroll-animation,
  .parallax-text,
  .scroll-animation {
    max-width: 100%;
  }
  #parallax-text img,
  .parallax-text img {
    width: 45px;
    height: auto;
  }
  .stage2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*** Products & Services ***/
#product-block {
  background-image: url("../img/blue-bg-cp.jpg");
  background-repeat-x: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#product-block * {
  color: #fff;
}
#product-block .row {
  margin-top: 96px;
}
.webp #product-block {
  background-image: url("../img/blue-bg.webp");
}
#p-subtitle {
  letter-spacing: 4.8576px;
}
#spinning-bg {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -25%;
  left: -25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/blue-spin-bg-cp.png");
  content: '';
}
.webp #spinning-bg {
  background-image: url("../img/blue-spin-bg.webp");
}
.product-label {
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 700;
}
.product-label .gradient-line {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, rgba(85,214,210,0.5) 6.71%, rgba(255,255,255,0.248) 53.66%, rgba(255,255,255,0) 100%);
}
.product-logo {
  margin-top: 16px;
  margin-bottom: 32px;
}
.product-intro {
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
  letter-spacing: 3.2384px;
}
.product-item:first-child .product-intro {
  margin-bottom: 112px;
}
#service-nodes {
  text-align: right;
}
#service-nodes picture {
  width: 80%;
}
@media (max-width: 767px) {
  #product-block .row > div:nth-child(2) {
    margin-top: 72px;
  }
  .product-item:first-child .product-intro {
    margin-bottom: 48px;
  }
  #service-nodes {
    text-align: center;
  }
}
/*** Team ***/
#our-team {
  margin-bottom: 56px;
}
.photo-wrapper {
  border-radius: 50%;
  background: #caf2f0;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin-bottom: 24px;
  margin-left: 10%;
  margin-right: 10%;
}
.photo-wrapper:hover {
  box-shadow: 0px 10px 4px rgba(0,0,0,0.5);
}
.mem-name {
  border-bottom: 3px solid rgba(80,227,194,0.3);
  font-size: 0.67rem;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
.mem-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.67rem;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*** Join Us ***/
#join-block {
  overflow: hidden;
  background-image: url("../img/join-us-bg2.jpg");
  background-repeat-x: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid #fff;
}
.webp #join-block {
  background-image: url("../img/join-us-bg2.webp");
}
#float-line > div {
  text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}
#float-line > div:nth-child(2) {
  margin: 30px 0;
}
/*** Footer ***/
footer {
  background-color: #333133;
  padding-top: 49px;
  padding-bottom: 30px;
}
footer * {
  color: #55d6d2;
  font-size: 0.75rem;
  letter-spacing: 1.656px;
}
footer #copyright {
  color: #e2e2e2;
  margin-top: 35px;
  font-size: 12px;
  letter-spacing: normal;
  font-weight: normal;
}
footer a:hover,
footer a:active,
footer a:focus {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 18px;
  }
}
