// out: $1.css

$green = #55D6D2
$light-blue = #CAF2F0
$gray-blue = #42536C
$yellow = #FFFAB8
$pink = #FFC4C4

// @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&subset=chinese-traditional');
// @import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
// font-family: 'Raleway', 'Noto Sans TC' !important;

*
	font-family: 'Noto Sans TC' !important;
	font-size: 24px;
	color: $gray-blue;
	font-weight: 500;
	letter-spacing: 5.888px;
	&:not(div)
		&:active, &:focus
			outline 0
			box-shadow none!important

body
	background-color: #F9FBFC;

.flex-center
	-ms-flex-pack: center!important;
	justify-content: center!important;
	-ms-flex-align: center!important;
	align-items: center!important;

@media (min-width: 992px)
	.container
		max-width: 850px !important;

.fw-700
	font-weight: 700;

.fw-900
	font-weight: 900;

.block-title
	font-size: 32px;
	color: $green !important;
	font-weight: 900;
	margin-bottom: 10px;
	// text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* ----------------- */

header
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 117px;
	top: 0;
	background: transparent;
	transition: all 0.4s;
	.nav-item
		padding-right: 28px;
		padding-left: 28px;
		margin-top: 17px;
		&:nth-child(3)
			min-width: 151px;
		&:not(:nth-child(3)) .nav-link
			padding-top: 25px;
			padding-bottom: 5px;
			background: linear-gradient(to bottom, transparent 62%, #55D6D2 0) center 100%/0% 20% no-repeat;
			 &:hover
				background-size: 100% 20%;
	.nav-link
		font-family: 'Raleway' !important;
		font-weight: bold;
		color: white;
		font-size: 15px;
		letter-spacing: 2.76px;
		padding: 0;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transition: background-size .4s ease;
	.logo
		display: block;
	&.scrolling
		background-color: rgba(51, 49, 51, .7);
		height: 85px;

#particles-overlay
	position: absolute;
	height: 582px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;

#main-slider
	height: 582px;
	width: 100%;
	padding-bottom: 50px;
	.swiper-slide
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		// height: 632px;
		&.s1
			background-image: url(../img/svg/c1.svg);
		&.s2
			background-image: url(../img/svg/c2.svg);
		&.s3
			background-image: url(../img/svg/c3.svg);

.swiper-slide *
	letter-spacing: normal;
	font-size: 36px;
	font-weight: 700;

.s1-text *
	color: black;

.s2-text *
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 48px;

.s3-text
	width: 45%;

[class*="swiper-button"]
	width: 55px;
	height: 97px;
	background-size: 55px 97px !important;
	transform: translateY(-50%);
	z-index: 200;

.swiper-button-prev
	background-image: url(../img/svg/slider-prev.svg) !important;
	left: 40px;

.swiper-button-next
	background-image: url(../img/svg/slider-next.svg) !important;
	right: 40px;

.swiper-pagination
	bottom: 0 !important;

.swiper-pagination-bullets
	z-index: 200;

.swiper-pagination-bullet
	width: 27px;
	height: 27px;
	background-color: white;
	border 4px solid $green;
	opacity: 1;
	margin-left: 15px !important;
	margin-right: 15px !important;

.swiper-pagination-bullet-active
	background-color: $green;

// #scroll-down
// 	margin-bottom: 124px;

/*** Vision  ***/
.content-text
	letter-spacing: 4.416px;

#animation-trigger
	min-height: 1px;
	margin-bottom: 100px;

#animation-wrapper
	top: 0 !important;
	.row
		height: 100vh;

#parallax-text
	letter-spacing: 4.8576px;
	flex: 0 0 40%;
	max-width: 40%;
	padding-right: 15px;
	padding-left: 15px;
	justify-content: center;

#scroll-animation
	flex: 0 0 60%;
	max-width: 60%;
	padding-right: 15px;
	padding-left: 15px;
	justify-content: flex-end;

@media (max-width 767px)
	#animation-wrapper .row
		flex-direction: column-reverse;
	#parallax-text, #scroll-animation
		flex: 0 0 100%;
		max-width: 100%;

.block-padding
	padding-top 116px
	padding-bottom 116px

/*** Products & Services ***/
#product-block
	background-image: url('../img/blue-bg.jpg');
	background-repeat-x: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	*
		color: white;
	.row
		margin-top: 96px;

#p-subtitle
	letter-spacing: 4.8576px;

#spinning-bg
	width: 150%;
	height: 150%;
	position: absolute;
	// transform: translate(-50%, -50%);
	top: -25%;
	left: -25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../img/blue-spin-bg.png');
	content: '';
	// animation: spinZ 24s linear infinite;

// @keyframes spinZ
// 	0%
// 		-webkit-transform: rotate(0deg);
// 		-webkit-transform-origin: 50% 50%;
// 	100%
// 		-webkit-transform: rotate(360deg);
// 		-webkit-transform-origin: 50% 50%;

.product-label
	padding: 5px 10px;
	font-size: 18px;
	.gradient-line
		width: 100%;
		height: 10px;
		background: linear-gradient(90deg, rgba(85, 214, 210, 0.5) 6.71%, rgba(255, 255, 255, 0.248351) 53.66%, rgba(255, 255, 255, 0) 100%);

.product-logo
	margin-top: 16px;
	margin-bottom: 32px;

.product-intro
	font-size: 16px;
	font-weight: 100;
	text-align: justify;
	letter-spacing: 3.2384px;

.product-item:first-child .product-intro
	margin-bottom: 112px;

/*** Team ***/
#our-team
	margin-bottom: 56px;

.photo-wrapper
	border-radius: 50%;
	background: $light-blue;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 24px;
	margin-left: 10%;
	margin-right: 10%;
	&:hover
		box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);

.mem-name
	border-bottom: 3px solid rgba(80, 227, 194, 0.3);
	font-size: 16px;
	line-height: 1;
	padding-bottom: 10px;

.mem-title
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 54px;
	font-size: 16px;

/*** Join Us ***/
#join-block
	height: 440px;
	overflow: hidden;
	background-image: url('../img/join-us-bg2.jpg');
	background-repeat-x: no-repeat;
	background-size: 101% 101%;
	background-position: center;
	border-bottom: 4px solid white;

#float-line
	height: 440px;
	> div
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
		&:nth-child(2)
			margin: 30px 0;
// #float-line
// 	height: 440px;
// 	background: url(../img/svg/float-line.svg) repeat-x 0 / 100% auto;;
// 	animation: ani 40s linear infinite;
// 	background-size: cover;
	// > div
	// 	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	// 	&:nth-child(2)
	// 		margin: 30px 0;
//
// @keyframes ani
// 	0%
// 		background-position: 4400px 0;
// 	100%
// 		background-position: 0 0;

/*** Footer ***/
footer
	background-color: #333133;
	padding-top 49px
	padding-bottom: 30px;
	*
		color: $green;
		font-size: 18px;
		letter-spacing: 1.656px;
	#copyright
		color: #E2E2E2;
		margin-top: 35px;
		font-size: 12px;
		letter-spacing: normal;
		font-weight: normal;
