@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  font-family: 'Raleway', 'Noto Sans TC' !important;
  font-size: 24px;
  color: #42536c;
  font-weight: bold;
  letter-spacing: 5.888px;
}
*:not(div):active,
*:not(div):focus {
  outline: 0;
  box-shadow: none !important;
}
.block-title {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
/* ----------------- */
#particles-overlay {
  position: absolute;
  height: 682px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#main-slider {
  height: 682px;
  width: 100%;
  padding-bottom: 50px;
}
#main-slider .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}
#main-slider .swiper-slide.s1 {
  background-image: url("../img/svg/c1.svg");
}
#main-slider .swiper-slide.s2 {
  background-image: url("../img/svg/c2.svg");
}
#main-slider .swiper-slide.s3 {
  background-image: url("../img/svg/c3.svg");
}
[class*="swiper-button"] {
  width: 55px;
  height: 97px;
  background-size: 55px 97px !important;
  transform: translateY(-50%);
  z-index: 200;
}
.swiper-button-prev {
  background-image: url("../img/svg/slider-prev.svg") !important;
  left: 71px;
}
.swiper-button-next {
  background-image: url("../img/svg/slider-next.svg") !important;
  right: 71px;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border: 2px solid #55d6d2;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.swiper-pagination-bullet-active {
  background-color: #55d6d2;
}
/*** Vision  ***/
#animation-trigger {
  min-height: 1px;
  margin-bottom: 100px;
}
.block-padding {
  padding-top: 116px;
  padding-bottom: 116px;
}
/*** Products & Services ***/
#product-block {
  background-image: url("../img/blue-bg.jpg");
  background-repeat-x: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#product-block * {
  color: #fff;
}
#product-block .row {
  margin-top: 96px;
}
#spinning-bg {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -25%;
  left: -25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/blue-spin-bg.png");
  content: '';
  animation: spinZ 24s linear infinite;
}
.product-label {
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  color: #42536c !important;
  padding: 5px 10px;
  width: 352px;
}
.product-logo {
  margin-top: 16px;
  margin-bottom: 32px;
}
.product-intro {
  font-size: 18px;
  letter-spacing: 3.2384px;
}
.product-item:first-child .product-intro {
  margin-bottom: 112px;
}
/*** Team ***/
#our-team {
  margin-bottom: 56px;
}
.photo-wrapper {
  border-radius: 50%;
  background: #caf2f0;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin-bottom: 24px;
}
.photo-wrapper:hover {
  box-shadow: 0px 10px 4px rgba(0,0,0,0.5);
}
.mem-name {
  border-bottom: 3px solid rgba(80,227,194,0.3);
}
.mem-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 54px;
}
.mem-title .sm {
  font-size: 18px;
}
/*** Join Us ***/
#join-block {
  height: 440px;
  overflow: hidden;
  background-image: url("../img/join-us-bg.jpg");
  background-repeat-x: no-repeat;
  background-size: 101% 101%;
  background-position: center;
}
#float-line {
  height: 440px;
  background: url("../img/svg/float-line.svg") repeat-x 0/100% auto;
  animation: ani 40s linear infinite;
  background-size: cover;
}
#float-line > div {
  text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}
#float-line > div:nth-child(2) {
  margin: 30px 0;
}
/*** Footer ***/
footer {
  background-color: #333133;
  padding-top: 49px;
  padding-bottom: 30px;
}
footer * {
  color: #55d6d2;
  font-size: 18px;
  letter-spacing: 1.656px;
}
footer #copyright {
  color: #e2e2e2;
  margin-top: 35px;
  font-size: 12px;
  letter-spacing: normal;
  font-weight: normal;
}
@-moz-keyframes spinZ {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@-webkit-keyframes spinZ {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@-o-keyframes spinZ {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@keyframes spinZ {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@-moz-keyframes ani {
  0% {
    background-position: 4400px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes ani {
  0% {
    background-position: 4400px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes ani {
  0% {
    background-position: 4400px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes ani {
  0% {
    background-position: 4400px 0;
  }
  100% {
    background-position: 0 0;
  }
}
